# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE
.DS_Store
.vscode/
.idea/

# Home Assistant
*.log
